p {
    font-size: 50px;
    font-family: "游ゴシック";
}
body {
    background-color: linen;
}

div.info {
    background-color: aquamarine;
    color: brown;
    border: solid;
    border-color: darkcyan;
}

span.cation{
    color: red;
}

video{
    width: 500px;
    display: none;
}

:checked + video{
    display: block;
}
/* 点滅 */
h1 {
	-webkit-animation: h1 1s ease-in-out infinite alternate;
	animation: h1 1s ease-in-out infinite alternate;
    color: orange;
}
@-webkit-keyframes h1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes h1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
